{%extends 'base.html' %}
{% block title %}About
{% endblock title %}

{% block body %}
<div class="card mb-3 my-5 mx-lg-5" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 bg-success">
      <img src="/static/img/sonu.jpg"style=width:170px alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body bg-success">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">He is Sonu Kumar from gopalganj in bihar he is start the our carrier in it sector he is professional in Python and by using this he create beautiful web .</p>
        <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
<h1 style="justify-content: center;text-align: center;">This is some Main item</h1>

  <div class="card-group my-3"style="width:1200px">
    <div class="card p-2">
      <img src="/static/img/7.jpg"style=height:370px class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">First Main Course</h5>
        <p class="card-text">This quick and easy ice cream recipe is a basic ice cream made with cream and condensed milk. this is a soft, smooth and velvety ice cream recipe (without any ice crystals) and a recipe that does not take much time.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card p-2">
      <img src="/static/img/10.jpg"style=height:370px class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Second Main Course</h5>
        <p class="card-text">this one does not work for the good ol' fashioned ice cream maker. The wooden kind with the motor on top. I've had this thing running for 2 hours now and it's just slush. </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card p-2">
      <img src="/static/img/9.jpg"style=height:370px class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Third Main Course</h5>
        <p class="card-text">This was absolutely the BEST ice cream I have ever made. (Chef John never lets me down.) I love the simple and few ingredients needed. It tasted just like the ice cream I remember eating as a child from the little ice cream</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>{% endblock body %}